@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,400;6..72,500;6..72,600;6..72,700&family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

:root {
    --primary: #9BD9E8;
    --secondary: #1E7A93;
    --teritiary: #66C0D6;
    --highlight: #EEF9FC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    max-width: 1500px;
    margin: 0 auto;
    padding: 50px 24px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.heading {
    margin-bottom: 50px;
}

.mls {
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--teritiary);
}

.listings-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 30px;
}

/*  
-------------------------------------
|       PROPERTY CARD STYLES        |
-------------------------------------
*/

.property-card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); /* horizontal offset vertical offset blue shadow color/transparency */
}

.property-card:hover {
    transform: scale(1.01);
}

.no-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    font-style: italic;
}

.property-img-container {
    width: 100%;
    aspect-ratio: 5 / 3;
    overflow: hidden;
    position: relative;
}

.property-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* prevent image from shrinking */
}

.fav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: white;
    color: #333;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
}

.fav-btn:hover {
    background-color: #f5f5f5;
}

.fav-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.price-overlay {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.property-logistics-container {
    padding: 15px;
}

.property-logistics {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.location {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.city-state {
    font-size: 0.8rem;
}

.property-interior {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.interior {
    font-size: 0.8rem;
    background-color: var(--highlight);
    color: var(--secondary);
    padding: 8px 10px;
    border-radius: 10px;
}

@media(max-width: 1024px) {
    .listings-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .listings-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 
-------------------------------------
|      PROPERTY FILTER STYLES       |
-------------------------------------
*/

.menu {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    color: var(--secondary);
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: var(--secondary);
}

.form-container {
    margin-bottom: 50px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    border: 0.5px solid black;
    padding-left: 10px;
    background-color: var(--highlight);
}

.filter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.filter {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #b8b8b8;
    padding: 12px 15px;
}

.label {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--secondary);
    margin-bottom: 5px;
}

.field {
    border: none;
    font-size: 0.8rem;
    background-color: var(--highlight);
    color: #757575;
}

.field:focus {
    outline: none;
}

.clear-btn, .submit-btn {
    height: 100%;
    padding: 0 40px;
    font-weight: bold;
}

.clear-btn {
    background-color: transparent;
    border: none;
    color: #757575;
}

.clear-btn:hover {
    color: black;
    cursor: pointer;
}

.submit-btn {
    background-color: var(--primary);
    border: transparent;
    color: black;
}

.submit-btn:hover {
    background-color: var(--teritiary);
    cursor: pointer;
}

@media(max-width: 1024px) {
    .form-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 220px;
        z-index: 1000;
        background-color: var(--highlight);
        transform: translateX(-100%); /* move left by element's own width */
        transition: transform 0.3s ease;
    }

    .form-container.open {
        transform: translateX(0); /* move back to normal position */
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .menu {
        display: block;
    }

    .form {
        flex-direction: column;
        border: none;
        gap: 80px;
        padding-top: 50px;
        padding-left: 0;
    }
    
    .filter-form {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 20px;
    }
    
    .filter {
        border-right: none;
        padding-left: 30px;
    }
    
    .form-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .clear-btn {
        border: 1px solid var(--secondary);
        padding: 10px;
        width: 100px;
    }

    .submit-btn {
        padding: 10px;
        width: 100px;
    }
}

/* 
-------------------------------------
|         PAGINATION STYLES         |
-------------------------------------
*/

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.pagination-btn {
    padding: 8px;
    border: none;
    cursor: pointer;
}

.prev-next-btn {
    background-color: var(--teritiary);
    color: white;
}

.prev-next-btn:hover {
    background-color: var(--secondary);
}

.prev-next-btn:disabled {
    background-color: var(--primary);
}

.num-nav-btn {
    background-color: transparent;
}

.num-nav-btn:hover {
    color: var(--secondary);
}

.num-nav-btn:disabled {
    color: #a1a1a1;
}


@media(max-width: 768px) {
    .pagination {
        gap: 5px;
    }
}

/* 
-------------------------------------
|          CAROUSEL STYLES          |
-------------------------------------
*/

.property-carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%; /* places top edge of button at 50% */
    transform: translateY(-50%); /* moves button up by hald its own height to make it vertically centered */
    z-index: 2;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-counter {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

/* 
-------------------------------------
|           GALLERY STYLES          |
-------------------------------------
*/

.property-gallery {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.gallery-main-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}

.thumbnail-strip {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
}

.gallery-thumbnail {
    width: 100px;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
}

.image-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border: none;
    padding: 0;
    background: transparent;
}

.image-modal::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.image-modal img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}

.modal-arrow {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 2;
}

.modal-arrow-left {
    left: 10px;
}

.modal-arrow-right {
    right: 10px;
}